{% extends 'base.html.twig' %}
{% block body %}
    <div class="burger-menu">
        <div class="burger">
            <div class="burger-toggle">Reminder number {{ reminderId }} was {{ action }}</div>
            <div class="burger-body open">
                <a href="/reminder/list">See All Reminders</a>
                <br/>
                <a href="/reminder/create">Create a new reminder</a>
            </div>
        </div>
    </div>
{% endblock %}